<include file="Public:header"/>

 </li>
        <li ><a href="/tpg/">旅游首页 <span class="sr-only">(current)</span></a></li>
        <li ><a href="/tpg/home/about/about">关于贵州</a></li>
        <li><a href="/tpg/home/jingdian/jingdian">旅游景点</a></li>
        <li><a href="/tpg/home/xianlu/xianlu">时尚线路</a></li>
        <li><a href="/tpg/home/cate/cate">舌尖美食</a></li>
        <li  class="active"><a href="/tpg/home/hotels/hotel">酒店信息</a></li>
        
        <li><a href="/tpg/Home/Message/message">留言板</a></li>
        <li><a href="/tpg/admin.php">后台管理</a></li>
      
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</div>
  <!--nav-->


  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- <link href="__PUBLIC__/hotels/css/bootstrap.css" type="text/css" rel="stylesheet" media="all"> -->
<link href="__PUBLIC__/hotels/css/style.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="__PUBLIC__/hotels/css/flexslider.css" type="text/css" media="screen" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/hotels/css/JFFormStyle-1.css" />
<!-- js -->
<script src="__PUBLIC__/hotels/js/jquery.min.js"></script>
<script src="__PUBLIC__/hotels/js/modernizr.custom.js"></script>
<!-- //js -->

<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
	</script>
<!--pop-up-->
<script src="__PUBLIC__/hotels/js/menu_jquery.js"></script>
<!--//pop-up-->	
</head>
<body>
	
	<!-- banner -->
	<div class="banner hotels-banner" style="margin-top: 190px;">
		<!-- container -->
		<div class="container">
			<div class="col-md-4 banner-left">
				<section class="slider2">
					<div class="flexslider">
						<ul class="slides">
						<volist name="jingdians" id="jingdian">
						      <li>
								<div class="slider-info">
								  <a href="/tpg/home/show/showjingdian?id={$jingdian.jingdian_id}" title="">
									<img src="{$jingdian.jingdian_image}" alt="" width="350" height="345">
								  </a>
									
								</div>
							</li>
						</volist>
							<!-- <li>
								<div class="slider-info">
									<img src="{$jingdians[0].jingdian_image}" alt="" width="350" height="345">
								</div>
							</li> -->
							<!-- <li>
								<div class="slider-info">
									<img src="images/6.jpg" alt="">
								</div>
							</li>
							<li>	
								<div class="slider-info">
									<img src="images/7.jpg" alt="">
								</div>
							</li>
							<li>	
								<div class="slider-info">
									<img src="images/8.jpg" alt="">
								</div>
							</li>
							<li>	
								<div class="slider-info">
									<img src="images/6.jpg" alt="">
								</div>
							</li> -->
						</ul>
					</div>
				</section>
				<!--FlexSlider-->
			</div>
			<div class="col-md-8 banner-right">
				<div class="sap_tabs">	
					<div class="booking-info about-booking-info">
						<h2>贵州酒店</h2>
					</div>
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">	
						  <!---->		  	 
									<div class="facts about-facts train-facts">
										<div class="booking-form train-form">
										<link rel="stylesheet" href="css/jquery-ui.css" />
											<!---strat-date-piker---->
											<script>
												$(function() {
													$( "#datepicker,#datepicker1" ).datepicker();
												});
											</script>
											<!---/End-date-piker---->
											<!-- Set here the key for your domain in order to hide the watermark on the web server -->
											
											<div class="online_reservation">
													<div class="b_room">
														<div class="booking_room">
															<div class="reservation">
																<ul>		
																	<li  class="span1_of_1 desti about-desti">
																		 <h5>Going to</h5>
																		 <div class="book_date">
																			 <form>
																				<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
																				<input type="text" placeholder="City, Area or Hotel Name" class="typeahead1 input-md form-control tt-input" required="">
																			 </form>
																		 </div>					
																	 </li>
																</ul>
															</div>
															<div class="reservation">
																<ul>	
																	 <li  class="span1_of_1">
																		 <h5>Check in</h5>
																		 <div class="book_date">
																		 <form>
																			<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
																			<input type="date" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
																		</form>
																		 </div>		
																	 </li>
																	 <li  class="span1_of_1 left">
																		 <h5>Check out</h5>
																		 <div class="book_date">
																			 <form>
																				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
																				<input type="date" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
																			</form>
																		 </div>					
																	 </li>
																	 <li class="span1_of_1 left adult">
																		 <h5>Adults (18+)</h5>
																		 <!----------start section_room----------->
																		 <div class="section_room">
																			  <select id="country" onchange="change_country(this.value)" class="frm-field required">
																					<option value="null">1</option>
																					<option value="null">2</option>         
																					<option value="AX">3</option>
																					<option value="AX">4</option>
																					<option value="AX">5</option>
																					<option value="AX">6</option>
																			  </select>
																		 </div>	
																	</li>
																	<li class="span1_of_1 left h-child">
																		 <h5>Children (0-17)</h5>
																		 <!----------start section_room----------->
																		 <div class="section_room">
																			  <select id="country" onchange="change_country(this.value)" class="frm-field required">
																					<option value="null">1</option>
																					<option value="null">2</option>         
																					<option value="AX">3</option>
																					<option value="AX">4</option>
																					<option value="AX">5</option>
																					<option value="AX">6</option>
																			  </select>
																		 </div>	
																	</li>
																	<li class="span1_of_1 h-rooms">
																		 <h5>Rooms</h5>
																		 <!----------start section_room----------->
																		 <div class="section_room">
																			  <select id="country" onchange="change_country(this.value)" class="frm-field required">
																					<option value="null">1</option>
																					<option value="null">2</option>         
																					<option value="AX">3</option>
																					<option value="AX">4</option>
																					<option value="AX">5</option>
																					<option value="AX">6</option>
																			  </select>
																		 </div>	
																	</li>
																	 <div class="clearfix"></div>
																</ul>
															</div>
															<div class="reservation">
																<ul>
																	
																	<div class="clearfix"></div>
																</ul>
															</div>
															<div class="reservation">
																<ul>	
																	 <li class="span1_of_3">
																			<div class="date_btn">
																				<form>
																					<input type="submit" value="Search" />
																				</form>
																			</div>
																	 </li>
																	 <div class="clearfix"></div>
																</ul>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>
											</div>
											<!---->
										</div>	
									</div>
					</div>	
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner -->
	<div class="move-text">
		<div class="marquee">热门景点都在这儿的<a href="/tpg/home/show/more?name=jingdian">Here</a></div>
		<script type="text/javascript" src="__PUBLIC__/hotels/js/jquery.marquee.min.js"></script>
        <script>
		  $('.marquee').marquee({ pauseOnHover: true });
		  //@ sourceURL=pen.js
		</script>
	</div>
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="banner-bottom-info">
				<h3>今天的热门</h3>
			</div>
			<div class="banner-bottom-grids">
				<div class="col-md-4 banner-bottom-grid">
					<div class="banner-bottom-right">
						<a href="/tpg/home/show/showhotel?id={$hotels[0].jiudian_id}">
							<img src="{$hotels[0].jiudian_image}" alt="" />
							<div class="destinations-grid-info tours">
									<h5>{$hotels[0].jiudian_name}</h5>
									<p>星级 : {$hotels[0].jiudian_star}</p>
									
									<p class="b-period">{$hotels[0].jiudian_content}</p>
							</div>
						</a>
					</div>
					<div class="choose">
						<div class="choose-info">
							<h4>美食诱惑</h4>
						</div>
						<div class="choose-grids">
						 <volist name="cates" id="cate">
						    <div class="choose-grids-info">
								<div class="choose-left">
									<h5>{$cate.meishi_site}</h5>
									
								</div>
								<div class="choose-right">
									<a href="/tpg/home/show/showcate?id={$cate.id}">{$cate.meishi_name}</a>
									<p>价格 ： {$cate.meishi_price}</p>
									<a href="/tpg/home/show/showcate?id={$cate.id}" title=""><img src="{$cate.meishi_image}" alt="" width="200" height="150"></a>
								</div>
								<div class="clearfix"> </div>
							</div>
						 </volist>
							<!--<div class="choose-grids-info">
								<div class="choose-left">
									<h5>黔东南</h5>
									
								</div>
								<div class="choose-right">
									<a href="single.html">Aliquam faucibus vehicula vulputate</a>
									<p>Maecenas euismod tortor a tristique convallis diam eros aliquam.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="choose-grids-info">
								<div class="choose-left">
									<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
								</div>
								<div class="choose-right">
									<a href="single.html">Sed tincidunt consectetur augue</a>
									<p>Nulla bibendum libero in nunc eleifend tincidunt. Aliquam quis molestie lectus</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="choose-grids-info">
								<div class="choose-left">
									<h6>$</h6>
								</div>
								<div class="choose-right">
									<a href="single.html">Nullam et arcu interdum, accumsan justo</a>
									<p>Maecenas dapibus eu purus vel imperdiet. Maecenas cursus, arcu sed tempus </p>
								</div>
								<div class="clearfix"> </div>
							</div>-->
						</div>
					</div>
				</div>
				<div class="col-md-4 banner-bottom-grid">
					<div class="banner-bottom-middle">
						<a href="/tpg/home/show/showhotel?id={$hotels[1].jiudian_id}">
							<img src="{$hotels[1].jiudian_image}" alt="" />
							<div class="destinations-grid-info tours">
								<h5>{$hotels[1].jiudian_name}</h5>
								<p>星级 ：{$hotels[1].jiudian_star}</p>
								<p class="b-period">{$hotels[1].jiudian_content}</p>
							</div>
						</a>
					</div>
					<div class="news-grids">
						<div class="news-grids-info">
							<h4>热门线路</h4>
						</div>
						<div class="news-grids-bottom">
							<!-- date -->
							<div id="design" class="date">
								<div id="cycler">  
								<volist name="xianlus" id="xianlu">
								    <div class="date-text">
										<a href="/tpg/home/show/showxianlu?id={$xianlu.xianlu_id}">{$xianlu.xianlu_name}</a>
										<p>{$xianlu.xianlu_content}</p>
									</div>
								</volist> 
									<!-- <div class="date-text">
										<a href="single.html">August 15,2015</a>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<div class="date-text">
										<a href="single.html">July 08,2015</a>
										<p>Nullam non turpis sit amet metus tristique egestas et et orci.</p>
									</div>
									<div class="date-text">
										<a href="single.html">February 15,2015</a>
										<p>Duis venenatis ac ipsum vel ultricies in placerat quam</p>
									</div>
									<div class="date-text">
										<a href="single.html">January 15,2015</a>
										<p>Pellentesque ullamcorper fringilla ipsum, ornare dapibus velit volutpat sit amet.</p>
									</div>
									<div class="date-text">
										<a href="single.html">September 24,2014</a>
										<p>In lobortis ipsum mi, ac imperdiet elit pellentesque at.</p>
									</div> -->
								</div>
								<script>
									function cycle($item, $cycler){
										setTimeout(cycle, 2000, $item.next(), $cycler);
										
										$item.slideUp(1000,function(){
											$item.appendTo($cycler).show();        
										});
						
										}
									cycle($('#cycler div:first'),  $('#cycler'));
								</script>
							</div>
							<!-- //date -->
						</div>
					</div>
				</div>
				<div class="col-md-4 banner-bottom-grid">
					<div class="destinations">
						 <ul>
						 <volist name="hotels" id="hotel">
						      <li class="button"><a href="/tpg/home/show/showhotel?id={$hotel.jiudian_id}">{$hotel.jiudian_name}</a>
								<li class="dropdown active">
									<a href="/tpg/home/show/showhotel?id={$hotel.jiudian_id}">
										<div class="destinations-grid">
											<p style="text-indent:2em;color:black;">{$hotel.jiudian_content}</p>
										</div>
										<div class="destinations-grid-info">
											<div class="destinations-hotel">酒店评价 ： </div>
											<div class="destinations-star" style="margin-left:-120px;"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
											<div class="destinations-price">{$hotel.jiudian_price}</div>
											<div class="clearfix"> </div>
										</div>
									</a>
								 </li>
							</li>
						 </volist>
							<!-- <li class="button"><a href="#">Goa Popular Hotels</a>
								<li class="dropdown active">
									<a href="products.html">
										<div class="destinations-grid">
											<img src="images/a1.jpg" alt="" />
										</div>
										<div class="destinations-grid-info">
											<div class="destinations-hotel">Lorem ipsum dolor sit amet , Goa</div>
											<div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
											<div class="destinations-price">$100</div>
											<div class="clearfix"> </div>
										</div>
									</a>
								 </li>
							</li>
							<li class="button"><a href="#">Bangalore Popular Hotels</a>
								<li class="dropdown">
									<a href="products.html">
										<div class="destinations-grid">
											<img src="images/a4.jpg" alt="" />
										</div>
										<div class="destinations-grid-info">
											<div class="destinations-hotel">Lorem ipsum dolor sit amet , Bangalore</div>
											<div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
											<div class="destinations-price">$100</div>
											<div class="clearfix"> </div>
										</div>
									</a>
								 </li>
							</li>							
							<li class="button"><a href="#">Bangkok Popular Hotels</a>
								 <li class="dropdown">
									<a href="products.html">
										<div class="destinations-grid">
											<img src="images/a3.jpg" alt="" />
										</div>
										<div class="destinations-grid-info">
											<div class="destinations-hotel">Lorem ipsum dolor sit amet , Bangkok</div>
											<div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
											<div class="destinations-price">$240</div>
											<div class="clearfix"> </div>
										</div>
									</a>
								 </li>
							</li>
							<li class="button"><a href="#">Malaysia Popular Hotels</a>
								 <li class="dropdown">
									<a href="products.html">
										<div class="destinations-grid">
											<img src="images/a1.jpg" alt="" />
										</div>
										<div class="destinations-grid-info">
											<div class="destinations-hotel">Lorem ipsum dolor sit amet , Malaysia</div>
											<div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
											<div class="destinations-price">$320</div>
											<div class="clearfix"> </div>
										</div>
									</a>
								 </li>
							 </li>				 -->			 
						 </ul>
					</div>
					<div class="top-destinations-grids">
						<div class="top-destinations-info">
							<h4>Top Destinations</h4>
						</div>
						<div class="top-destinations-bottom">
						<volist	name="hotelps" id="hotelp">
						    <div class="td-grids">
								<div class="col-xs-3 td-left">
									<img src="{$hotelp.jiudian_image}" alt="" />
								</div>
								<div class="col-xs-7 td-middle">
									<a href="/tpg/home/show/showhotel?id={$hotelp.jiudian_id}">{$hotelp.jiudian_name}</a>
									<p>所在地区 ： {$hotelp.jiudian_site}</p>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</div>
								<div class="col-xs-2 td-right">
									<p>${$hotelp.jiudian_price}</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</volist>
							<!-- <div class="td-grids">
								<div class="col-xs-3 td-left">
									<img src="images/t1.jpg" alt="" />
								</div>
								<div class="col-xs-7 td-middle">
									<a href="single.html">Donec libero id lacinia</a>
									<p>Dapibus eu purus vel libero in nunc</p>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</div>
								<div class="col-xs-2 td-right">
									<p>$190</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="td-grids">
								<div class="col-xs-3 td-left">
									<img src="images/t2.jpg" alt="" />
								</div>
								<div class="col-xs-7 td-middle">
									<a href="single.html">Donec libero id lacinia</a>
									<p>Dapibus eu purus vel libero in nunc</p>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</div>
								<div class="col-xs-2 td-right">
									<p>$213</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="td-grids">
								<div class="col-xs-3 td-left">
									<img src="images/t3.jpg" alt="" />
								</div>
								<div class="col-xs-7 td-middle">
									<a href="single.html">Donec libero id lacinia</a>
									<p>Dapibus eu purus vel libero in nunc</p>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</div>
								<div class="col-xs-2 td-right">
									<p>$176</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="td-grids">
								<div class="col-xs-3 td-left">
									<img src="images/t4.jpg" alt="" />
								</div>
								<div class="col-xs-7 td-middle">
									<a href="single.html">Donec libero id lacinia</a>
									<p>Dapibus eu purus vel libero in nunc</p>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</div>
								<div class="col-xs-2 td-right">
									<p>$490</p>
								</div>
								<div class="clearfix"> </div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //banner-bottom -->
	<!-- popular-grids -->
	<div class="popular-grids">
		<!-- container -->
		<div class="container">
			<div class="popular-info">
				<h3>Popular Places</h3>
			</div>
			<!-- slider -->
			<div class="slider">
				<div class="arrival-grids">			 
					 <ul id="flexiselDemo1">
						 <li>
							 <a href="/tpg/home/show/showhotel?id={$hotels[0].jiudian_id}"><img src="__PUBLIC__/hotels/images/a3.jpg" alt=""/>
							 </a>
						 </li>
						 <li>
							 <a href="/tpg/home/show/showhotel?id={$hotels[1].jiudian_id}"><img src="__PUBLIC__/hotels/images/a2.jpg" alt=""/>
							 </a>
						 </li>
						 <li>
							 <a href="/tpg/home/show/showhotel?id={$hotels[2].jiudian_id}"><img src="__PUBLIC__/hotels/images/a4.jpg" alt=""/>
							 </a>
						 </li>
						 <li>
							 <a href="/tpg/home/show/showhotel?id={$hotels[3].jiudian_id}"><img src="__PUBLIC__/hotels/images/a1.jpg" alt=""/>
							 </a>
						 </li>
						</ul>
						<script type="text/javascript">
						 $(window).load(function() {			
						  $("#flexiselDemo1").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover:true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems: 2
								},
								tablet: { 
									changePoint:768,
									visibleItems: 3
								}
							}
						});
						});
						</script>
						<script type="text/javascript" src="__PUBLIC__/hotels/js/jquery.flexisel.js"></script>			 
				</div>
			</div>
			<!-- //slider -->
		</div>
		<!-- //container -->
	</div>
	<!-- popular-grids -->
	
	<script defer src="__PUBLIC__/hotels/js/jquery.flexslider.js"></script>
	<script src="__PUBLIC__/hotels/js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script src="__PUBLIC__/hotels/js/jquery-ui.js"></script>
	<script type="text/javascript" src="__PUBLIC__/hotels/js/script.js"></script>
	<script type="text/javascript">
		$(function(){
			SyntaxHighlighter.all();
			});
			$(window).load(function(){
			$('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			$('body').removeClass('loading');
			}
			});
		});
	</script>

	<div class="footer wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;background-color: gray;">
  <div class="content container" style="">
    <div class="footer-link">
      
      <!-- 热门自由行div.hotziyou结束 -->
   
    <!-- div.footer-link结束 --> 
    <div class="Contact" >
            <div><img src="__PUBLIC__/style/image/logo_button.jpg" alt=""></div>
            <div>
            服务联系<br>
            企业电话: 0851-4567-18<br>
            <a href="tencent://message/?uin=1591631526" title="">服务QQ：1591631526</a><br>
            服务时间：9:00-23:30
            </div>
        </div><!--  div.Contact结束 -->
        <div class="About">
             <p>
              <a href="/tpg/home/about/about" target="_blank">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="/tpg/Home/Message/message" target="_blank">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="#" target="_blank">支付方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="/tpg/home/login/register" target="_blank">法律声明</a></p>
            </p>
            <div class="fl">
                <p>版权所有：Copyright © 影琪集团　　粤ICP备15019244号</p>
                <p>公司地址：中国贵州贵阳市福田区南园路90号</p>
            </div>
        </div> <!-- div..About结束 -->
  </div>
  <!--  div.content结束 --> 
</div>
</div>
<!-- div.footer结束 -->	
	</body>	
	</html>