
<include file="Public:header"/>
 <script src="__PUBLIC__/danmaku.js"></script>



<link rel='stylesheet' href='__PUBLIC__/more/css/style.css' media='screen' />
<script src="__PUBLIC__/more/js/jquery.min.js"></script>
<script src="__PUBLIC__/more/js/blocksit.min.js"></script>
<script>
$(document).ready(function() {
	 
	
	//blocksit define
	$(window).load( function() {
		$('#container').BlocksIt({
			numOfCol: 4,
			offsetX: 8,
			offsetY: 8,
			blockElement: '.grid'
		});
	});
	
	//window resize
	var currentWidth = 1100;
	$(window).resize(function() {
		var winWidth = $(window).width();
		var conWidth;
		if(winWidth < 660) {
			conWidth = 440;
			col = 2
		} else if(winWidth < 880) {
			conWidth = 660;
			col = 3
		} else if(winWidth < 1100) {
			conWidth = 880;
			col = 4;
		} else {
			conWidth = 1100;
			col = 4;
		}
		
		if(conWidth != currentWidth) {
			currentWidth = conWidth;
			$('#container').width(conWidth);
			$('#container').BlocksIt({
				numOfCol: col,
				offsetX: 8,
				offsetY: 8
			});
		}
	});
});
</script>
<style type="text/css" media="screen">
	.btnimg{
			position: absolute;z-index: 1003;width: 600px;height: 300px;top: 200px;px;cursor: pointer;
		}
		.btnimg div{
			position: absolute;
			top: 100px;
			width: 60px;
			height: 60px;
			text-align: center;
			line-height: 60px;
			font-size: 56px;
			color: rgba(255,255,255,0.3);

			display: none;

		}
		.btnimg:hover div{
			display:block; 
		}
		.btnimg div:hover{
			color: rgba(255,255,255,1);
			
		}
		#pre{
            left: 8px;
		}
		#next{
			right: 8px;
		}
</style>

<li ><a href="/tpg/">旅游首页 <span class="sr-only">(current)</span></a></li>
        <li ><a href="/tpg/home/about/about">关于贵州</a></li>
        <li><a href="/tpg/home/jingdian/jingdian">旅游景点</a></li>
        <li class="active"><a href="/tpg/home/xianlu/xianlu">时尚线路</a></li>
        <li><a href="/tpg/home/cate/cate">舌尖美食</a></li>
        <li><a href="/tpg/home/hotels/hotel">酒店信息</a></li>
        
        <li><a href="/tpg/Home/Message/message">留言板</a></li>
        <li><a href="/tpg/admin.php">后台管理</a></li>
      
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</div>
  <!--nav-->

	<!---头部以下部分-->
<div style="width: 1100px;height: 300px;margin:180px auto 0px;">
<!--轮播图-->
   <div style="height: 300px;overflow: hidden;float:left;">
		    
		        <ul id="slides">
		    	<li><a href="/tpg/home/jingdian/jingdian" title="">
			    <img src="/tpg/upload/2017-03-30/58dcf406119bf.jpg" alt="" width="600" height="300">

		        </a></li>

		        <li><a href="/tpg/home/jingdian/jingdian" title="">
			    <img src="/tpg/upload/2017-03-30/58dce8cb03c9c.jpeg" alt="" width="600" height="300">
		        </a></li>

		        <li><a href="/tpg/home/jingdian/jingdian" title="">
			    <img src="/tpg/upload/2017-03-30/58dcf2c5d8b3d.jpg" alt="" width="600" height="300">
		        </a></li>

		        <li><a href="/tpg/home/jingdian/jingdian" title="">
			    <img src="/tpg/upload/2017-03-30/58dcf4e60cb43.jpg" alt="" width="600" height="300">
		        </a></li>

		        <li><a href="/tpg/home/jingdian/jingdian" title="">
			    <img src="/tpg/upload/2017-03-30/58dcf6a0d29d0.jpg" alt="" width="600" height="300">
		        </a></li>

		        <li><a href="/tpg/home/jingdian/jingdian" title="">
			    <img src="/tpg/upload/2017-03-30/58dcf7e488355.jpg" alt="" width="600" height="300">
		        </a></li>
		    </ul>

		    
		</div>
		<!-- <a href="/tpg/home/jingdian/jingdian" title=""> -->
		 <div class="btnimg" id="btnimg">
		    	<div id="pre">&lt;</div>
		    	<div id="next">&gt;</div>
		  </div>
		  <!-- </a> -->
          <!-- 轮播图 -->
		  <script type="text/javascript">
		  	$(function(){
		  		var $index = 0;
		  		var $li = $("#slides>li").length;
		  		var timerimg = setInterval(change,2000);
		  		function change(){
                   $index++;
                   if ($index==$li) {
                   	$index=0;
                   }
                   slidesimg();
		  		}
		  		

		  		$("#btnimg").mouseover(function(){
                       clearInterval(timerimg);
                       // alert('123');
		  		})

		  		$("#btnimg").mouseout(function(){
                       timerimg = setInterval(change,2000);
		  		})

		  		$("#pre").click(function(){

		  			$index--;
		  			if ($index<=0) {
		  				$index = $li;
		  			}
		  			 slidesimg();
		  		})

		  		$("#next").click(function(){
		  			change();
		  		})

		  		// 轮播图的实现
		  		function slidesimg(){
		  			$("#slides>li").eq($index).fadeIn(100).siblings("li").fadeOut(100);
		  		}
		  	})
		  </script>



		  <div style="width:500px;height:300px;float:right;position:relative;">
		  	  

              
       
          
            
                    <div class="panel panel-primary"  style="position: absolute;left:0px;width:520px;height:300px;">
                        <div class="panel-body" style="width:520px;height:240px;">
                            <div id="animation" style="height:240px;">
                            <video src="__PUBLIC__/guizhou.mp4" height="300" width="500" id="myvideo" loop="" style="margin-top: -20px;z-index:1009;"></video>
                            	
                            </div>
                           
                            <div class="input-group" style="margin-top: 6px;">
                                <span class="input-group-btn">
                                    <button id="play" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                    <button id="pause" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-pause"></span>
                                    </button>
                                    <button id="stop" class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-stop"></span>
                                    </button>
                                </span>
                                <input class="form-control" id="danmaku-text" />
                                <span class="input-group-btn">
                                    <button id="go" class="btn btn-default" type="button">
                                        发表
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                   
              
        <script>
            var player = danmaku.attach(document.getElementById('animation'));
            // player.put('贵州旅游宣传片', 0);
            player.put('多彩贵州欢迎你，贵州宣传片', 110);
            // player.put('贵州旅游宣传片', 140);
            // player.put('贵州旅游宣传片', 150);
            player.setTickRate(100);
            window.onload = function() {
            	var myvideo = document.getElementById('myvideo');
            	var play1 = document.getElementById('play');
            	var  pause1 = document.getElementById('pause');
            	var danmutext =  document.getElementById('danmaku-text');
                play1.onclick = function() {
                    player.play();
                    myvideo.play();
                }
                pause1.onclick = function() {
                    player.pause();
                    myvideo.pause();
                }
                document.getElementById('stop').onclick = function() {
                    player.stop();
                }
                document.getElementById('go').onclick = function() {
                	
                     texts();

                }
                function texts(){
                	var value1 = danmutext.value;
                    player.put(value1, player.getTick()); 
                    danmutext.value="";
                }
                // 键盘事件
                 danmutext.onkeydown = function(event){
                 	
                 	if(event.keyCode!=13){
                        return
                   }else{
                   	   texts();

                   }

                 }
            }
        </script>
                    

  
  
</div>
		  </div>



	
</div>

<!-- Content -->
<section id="wrapper" style="margin: auto;clear: both;">
	
<div id="container">
<volist name="jingdians" id="jingdian">

	<div class="grid">
		<div class="imgholder">
		  <a href="/tpg/home/show/showjingdian?id={$jingdian.jingdian_id}" title="">
			<img src="{$jingdian.jingdian_image}" />
		</a>
		</div>
		<strong><span style="color: blue;">景点 ：</span>{$jingdian.jingdian_name}</strong>
		<p><span style="color: #00ffff;font-size: 20px;">特色 : </span>{$jingdian.jingdian_trait}</p>
		<div class="meta">At <span style="color: red;">{$jingdian.jingdian_site}</span></div>
	</div>
 
    
</volist>


<volist name="xianlus" id="xianlu">

	<div class="grid">
		<div class="imgholder">
		  <a href="/tpg/home/show/showxianlu?id={$xianlu.xianlu_id}" title="">
			<img src="{$xianlu.xianlu_image}" />
		</a>
		</div>
		<strong><span style="color: #7cfc00;">主题 ：</span>{$xianlu.xianlu_name}</strong>
		<p><h3>线路 ：</h3>{$xianlu.xianlu_content}</p>
		<div class="meta">Price : <span style="color: red;">{$xianlu.xianlu_price}</span></div>
	</div>
 
    
</volist>
	<!-- <div class="grid">
		<div class="imgholder">
			<img src="images/img27.jpg" />
		</div>
		<strong>Sunset Lake</strong>
		<p>A peaceful sunset view...</p>
		<div class="meta">by j osborn</div>
	</div> -->
	<!-- <div class="grid">
		<div class="imgholder">
			<img src="images/img26.jpg" />
		</div>
		<strong>Bridge to Heaven</strong>
		<p>Where is the bridge lead to?</p>
		<div class="meta">by SigitEko</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img15.jpg" />
		</div>
		<strong>Autumn</strong>
		<p>The fall of the tree...</p>
		<div class="meta">by Lars van de Goor</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img23.jpg" />
		</div>
		<strong>Winter Whisper</strong>
		<p>Winter feel...</p>
		<div class="meta">by Andrea Andrade</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img17.jpg" />
		</div>
		<strong>Light</strong>
		<p>The only shinning light...</p>
		<div class="meta">by Lars van de Goor</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img22.jpg" />
		</div>
		<strong>Rooster's Ranch</strong>
		<p>Rooster's ranch landscape...</p>
		<div class="meta">by Andrea Andrade</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img16.jpg" />
		</div>
		<strong>Autumn Light</strong>
		<p>Sun shinning into forest...</p>
		<div class="meta">by Lars van de Goor</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img21.jpg" />
		</div>
		<strong>Yellow cloudy</strong>
		<p>It is yellow cloudy...</p>
		<div class="meta">by Zsolt Zsigmond</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img28.jpg" />
		</div>
		<strong>Herringfleet Mill</strong>
		<p>Just a herringfleet mill...</p>
		<div class="meta">by Ian Flindt</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img2.jpg" />
		</div>
		<strong>Battle Field</strong>
		<p>Battle Field for you...</p>
		<div class="meta">by Andrea Andrade</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img24.jpg" />
		</div>
		<strong>Sundays Sunset</strong>
		<p>Beach view sunset...</p>
		<div class="meta">by Robert Strachan</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img19.jpg" />
		</div>
		<strong>Sun Flower</strong>
		<p>Good Morning Sun flower...</p>
		<div class="meta">by Zsolt Zsigmond</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img5.jpg" />
		</div>
		<strong>Beach</strong>
		<p>Something on beach...</p>
		<div class="meta">by unknown</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img25.jpg" />
		</div>
		<strong>Flowers</strong>
		<p>Hello flowers...</p>
		<div class="meta">by R A Stanley</div>
	</div>
	<div class="grid">
		<div class="imgholder">
			<img src="images/img20.jpg" />
		</div>
		<strong>Alone</strong>
		<p>Lonely plant...</p>
		<div class="meta">by Zsolt Zsigmond</div>
	</div> --> <!---->
</div>
</section>








<!-- 页尾开始 -->
<div class="footer wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;background-color: gray;">
  <div class="content container" style="">
    <div class="footer-link">
      
      <!-- 热门自由行div.hotziyou结束 -->
   
    <!-- div.footer-link结束 --> 
    <div class="Contact" >
            <div><img src="__PUBLIC__/style/image/logo_button.jpg" alt=""></div>
            <div>
            服务联系<br>
            企业电话: 0851-4567-18<br>
            服务QQ：1591631526<br>
            服务时间：9:00-23:30
            </div>
      </div><!--  div.Contact结束 -->
        <div class="About">
             <p>
              <a href="/tpg/home/about/about" target="_blank">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="/tpg/Home/Message/message" target="_blank">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="#" target="_blank">支付方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="/tpg/home/login/register" target="_blank">法律声明</a></p>
            </p>
            <div class="fl">
                <p>版权所有：Copyright © 影琪集团　　粤ICP备15019244号</p>
                <p>公司地址：中国贵州贵阳市福田区南园路90号</p>
            </div>
        </div> <!-- div..About结束 -->
  </div>
  <!--  div.content结束 --> 
</div>
</div>
<!-- div.footer结束 -->
</body>
</html> 