<include file="Public:header"/>


<div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 信息修改页面 <small>贵州旅游</small></div>
                        <p class="page-header-description"></p>
                    </div>
                    <div class="am-u-lg-3 tpl-index-settings-button">
                        <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
                    </div>
                </div>

            </div>


 <div class="row-content am-cf">


                <!-- 美食添加表单 -->
                  <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">美食修改表单</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-line-form" action="/tpg/admin.php/home/Adminform/meishiupdate1?id={$meishis.id}" method="post" enctype="multipart/form-data">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">美食名称 <span class="tpl-form-line-small-title">Name</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-name" placeholder="请输入美食名称" name="meishi_name" value='{$meishis.meishi_name}' required/>
                                            <small>请填写标题文字1-20字左右。</small>
                                        </div>
                                    </div>



                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">美食价格 <span class="tpl-form-line-small-title">Price</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="输入数字+元" name="meishi_price" value='{$meishis.meishi_price}'>
                                        </div>
                                    </div>


                                    
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">所在地区 <span class="tpl-form-line-small-title">Area</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="输入城市" name="meishi_site" value='{$meishis.meishi_site}' required/>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">封面图 <span class="tpl-form-line-small-title">Images</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                             <i class="am-icon-cloud-upload"></i> 修改美食封面图片</button>
                                                <input id="doc-form-file" type="file" multiple="" name="meishi_image"/>
                                                <img src="{$meishis.meishi_image}" alt="" class="am-img-responsive">
                                            </div>

                                        </div>
                                    </div>

                                    

                                    

                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label">美食介绍</label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="10" id="user-intro" placeholder="请输入内容" name="meishi_content" required/>{$meishis['meishi_content']}</textarea>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">确认修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               

               </div>
        </div>
    </div>
    </div>
    <script src="__PUBLIC__/admin/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/admin/js/amazeui.datatables.min.js"></script>
    <script src="__PUBLIC__/admin/dataTables.responsive.min.js"></script>
    <script src="__PUBLIC__/admin/js/app.js"></script>

</body>

</html>