<include file="Public:header"/>

 <style type="text/css" media="screen">
  .mylist{
    font-size: 14px;
  }
</style>
<li class="mylist"><a href="/tpg/">旅游首页 <span class="sr-only">(current)</span></a></li>
        <li class="mylist"><a href="/tpg/home/about/about">关于贵州</a></li>
        <li class="mylist"><a href="/tpg/home/jingdian/jingdian">旅游景点</a></li>
        <li><a href="/tpg/home/xianlu/xianlu">时尚线路</a></li>
        <li class="active mylist"><a href="/tpg/home/cate/cate">舌尖美食</a></li>
        <li class="mylist"><a href="/tpg/home/hotels/hotel">酒店信息</a></li>
        
        <li><a href="/tpg/Home/Message/message">留言板</a></li>
        <li class="mylist"><a href="/tpg/admin.php">后台管理</a></li>
      
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</div>
  <!--nav-->
  <style type="text/css" media="screen">
  	 
  </style>





<link rel="stylesheet" href="__PUBLIC__/cate/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="__PUBLIC__/cate/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="__PUBLIC__/cate/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="__PUBLIC__/cate/js/jquery-1.6.js" ></script>
<script type="text/javascript" src="__PUBLIC__/cate/js/cufon-yui.js"></script>
<script type="text/javascript" src="__PUBLIC__/cate/js/cufon-replace.js"></script>  
<script type="text/javascript" src="__PUBLIC__/cate/js/Forum_400.font.js"></script>
<script type="text/javascript" src="__PUBLIC__/cate/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/cate/js/tms-0.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/cate/js/tms_presets.js"></script>
<script type="text/javascript" src="__PUBLIC__/cate/js/script.js"></script>
<script type="text/javascript" src="__PUBLIC__/cate/js/atooltip.jquery.js"></script> 
<style type="text/css" media="screen">
  a:hover{
    text-decoration: none;
    color: blue;
  }
</style>

<!--[if lt IE 9]>
  <script type="text/javascript" src="js/html5.js"></script>
  <style type="text/css">
    .slider_bg {behavior:url(js/PIE.htc)}
  </style>
<![endif]-->
<!--[if lt IE 7]>
  <div style='clear:both;text-align:center;position:relative'>
    <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
  </div>
<![endif]-->
<style type="text/css" media="screen">
  .pagination li a{
    border: none;
  }
</style>

<div class="body6">
  <div class="body1" style="margin-top: 180px;">
    <div class="body5">
      <div class="main">
<!-- header -->
        

<!-- content -->
        <article id="content">
          <div class="slider_bg">
            <div class="slider">
              <ul class="items">
                <li>
                  <img src="__PUBLIC__/cate/images/img1.jpg" alt="">
                  <div class="banner">
                    <strong>米粉的故事</strong>
                    <b>贵州</b>
                    <p>
                      <span  style="margin-left: 24px;">相传在五胡乱华时，南迁的北方人在闽浙一带用稻米榨条来吃，成了现今米粉的起源。米粉依制作的方式可分「炊粉」与「水粉」，以前人所称的米粉是用水煮的水粉，比较粗，而比较细的炊粉则是用蒸笼蒸出来的。</span>
                    </p>
                  </div>
                </li>
                <li>
                  <img src="__PUBLIC__/cate/images/img2.jpg" alt="">
                  <div class="banner">
                    <strong>辣子鸡</strong>
                    <b>贵州的传统家常名菜</b>
                    <p style="padding-bottom: 24px;">
                      <span style="margin-left: 24px;">辣子鸡最能体现贵州辣椒辣而香的个性，贵阳街头有专门炒制各种辣子鸡的摊档，动作快，味家常，炒好打包回家直接食用，吃完肉，加汤煮火锅。你别小看，摊档面前经常会排起长龙等候，这也算是一道辣子鸡的奇观。</span>
                    </p>
                  </div>
                </li>
                <li>
                  <img src="__PUBLIC__/cate/images/img3.jpg" alt="">
                  <div class="banner">
                    <strong>米豆腐</strong>
                    <b>川著名的地方小吃</b>
                    <p style="padding-bottom: 24px;">
                      <span style="margin-left: 24px;">此菜润滑鲜嫩、酸辣可口。它是用大米淘洗浸泡后加水磨成米浆，然后加碱熬制，冷却，形成块状“豆腐”即成。食用时切成小片放入凉水中再捞出，盛入容器后，将切好的大头菜、盐菜、酥黄豆、酥花生、葱花等适合个人味口的不同佐料末与汤汁放于米豆腐上即可。</span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="wrap">
            <section class="cols">
              <div class="box">
                <div>
                  <h2>{$cates[0].meishi_name}</h2>
                  <figure><img src="{$cates[0].meishi_image}" alt="" width="260" height="120"></figure>
                  <p class="pad_bot1">{$cates[0].meishi_content}</p>
                  <a href="/tpg/home/show/showcate?id={$cates[0].id}" class="button1">Read More</a>
                </div>
              </div>
            </section>
            <section class="cols pad_left1">
              <div class="box">
                <div>
                  <h2>{$cates[1].meishi_name}</h2>
                  <figure><img src="{$cates[1].meishi_image}" alt=""  width="260" height="120"></figure>
                  <p class="pad_bot1">{$cates[1].meishi_content}</p>
                  <a href="/tpg/home/show/showcate?id={$cates[1].id}" class="button1">Read More</a>
                </div>
              </div>
            </section>
            <section class="cols pad_left1">
              <div class="box">
                <div>
                  <h2>{$cates[2].meishi_name}</h2>
                  <figure><img src="{$cates[2].meishi_image}" alt=""  width="260" height="120"></figure>
                 <p class="pad_bot1">{$cates[2].meishi_content}</p>
                  <a href="/tpg/home/show/showcate?id={$cates[2].id}" class="button1">Read More</a>
                </div>
              </div>
            </section>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<div class="body2">
  <div class="main">
    <article id="content2">
      <div class="wrapper">
        <section class="col1 pad_left1">
          <h2>美食诱惑</h2>
          <div class="wrapper">
            <div class="cols">
              <div class="wrapper pad_bot2">
                <figure class="left marg_right1"><img src="{$catelists[0].meishi_image}" alt="" width="300" height="180"></figure>
                <p>
                  <a href="/tpg/home/show/showcate?id={$catelists[0].id}">{$catelists[0].meishi_name}</a><br>
                  {$catelists[0].meishi_content}
                </p>
              </div>
              <div class="wrapper">
                <figure class="left marg_right1"><img src="{$catelists[1].meishi_image}" alt=""   width="300" height="180"></figure>
                <p>
                  <a href="/tpg/home/show/showcate?id={$catelists[1].id}">{$catelists[1].meishi_name}</a><br>
                  所在地区 ： {$catelists[1].meishi_site}
                </p>
              </div>
            </div>
            <div class="cols pad_left1">
              <div class="wrapper pad_bot2">
                <figure class="left marg_right1"><img src="{$catelists[2].meishi_image}" alt=""   width="300" height="180"></figure>
                <p>
                  <a href="/tpg/home/show/showcate?id={$catelists[2].id}">{$catelists[2].meishi_name}</a><br>
                 {$catelists[2].meishi_content}
                </p>
              </div>
              <div class="wrapper">
                <figure class="left marg_right1"><img src="{$catelists[3].meishi_image}" alt=""    width="300" height="180"></figure>
                <p>
                  <a href="/tpg/home/show/showcate?id={$catelists[3].id}">{$catelists[3].meishi_name}</a> <br>
                 所在地区 ： {$catelists[3].meishi_site}
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="col2 pad_left1">
          <h2>热门景点</h2>
          <ul class="testimonials">
          <volist name="jingdians" id="jingdian">
             <li>
              <span>{$i}</span>
              <p>
                <a href="/tpg/home/show/showjingdian?id={$jingdian.jingdian_id}" title="">“{$jingdian.jingdian_name}”
                <img src="{$jingdian.jingdian_image}" alt="" width="300" height="120"></a>
              </p>
            </li>
          </volist>
          <!--<li>
              <span>1</span>
              <p>
                “Remperam eaquepsa quae abillo inventore vertatis.”
                <img src="__PUBLIC__/cate/images/signature1.jpg" alt="">
              </p>
            </li>
            <li>
              <span>2</span>
              <p>
                “Quasi arctecto beatae vitae dicta sunt explicabo.”
                <img src="__PUBLIC__/cate/images/signature2.jpg" alt="">
              </p>
            </li>
            <li>
              <span>3</span>
              <p>
                “Nemo enim ipsam volupta<br>
                tem quia voluptas.”<img src="__PUBLIC__/cate/images/signature3.jpg" alt="">
              </p>
            </li>-->
          </ul>
        </section>
      </div>
    </article>
<!-- / content -->
  </div>
</div>


<script type="text/javascript"> Cufon.now(); </script>




  <div class="footer wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;background-color: gray;">
  <div class="content container" style="">
    <div class="footer-link">
      
      <!-- 热门自由行div.hotziyou结束 -->
   
    <!-- div.footer-link结束 --> 
    <div class="Contact" >
            <div><img src="__PUBLIC__/style/image/logo_button.jpg" alt=""></div>
            <div>
            服务联系<br>
            企业电话: 0851-4567-18<br>
            服务QQ：1591631526<br>
            服务时间：9:00-23:30
            </div>
        </div><!--  div.Contact结束 -->
        <div class="About">
            <p>
              <a href="/tpg/home/about/about" target="_blank">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="/tpg/Home/Message/message" target="_blank">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="#" target="_blank">支付方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="/tpg/home/login/register" target="_blank">法律声明</a></p>
            </p>
            <div class="fl">
                <p>版权所有：Copyright © 影琪集团　　粤ICP备15019244号</p>
                <p>公司地址：中国贵州贵阳市福田区南园路90号</p>
            </div>
        </div> <!-- div..About结束 -->
  </div>
  <!--  div.content结束 --> 
</div>
</div>
<!-- div.footer结束 --> 
  </body> 
  </html>