<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- TemplateBeginEditable name="doctitle" -->
<title>贵州旅游页尾</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<link href="__PUBLIC__/style/css/foot.css" rel="stylesheet" type="text/css">
</head>

<body>


<!-- 页尾开始 -->
<div class="footer">
  <div class="content container" id="content">
    <div class="footer-link">
      <div class="hotziyou"> <span>友情链接：</span>
        <ul>
          <li> <a target="_blank" href="http://www.feiren.com">腾邦国际</a></li>
          <li><a target="_blank" href="http://www.tripadvisor.cn/">TripAdvisor</a></li>
          <li><a target="_blank" href="http://www.8264.com">户外运动</a></li>
          <li> <a href="http://www.mapbar.com/" target="_blank">地图查找</a></li>
          <li><a target="_blank" href="http://lvyou.baidu.com">百度旅游</a></li>
          <li> <a target="_blank" href="http://www.cncn.com">欣欣旅游网</a></li>
          <li><a target="_blank" href="http://trip.elong.com">艺龙旅游指南</a></li>
          <li> <a target="_blank" href="http://www.mipang.com/">米胖网</a></li>
          <li> <a target="_blank" href="http://www.cdyou.net">长岛旅游</a></li>
          <li> <a target="_blank" href="http://www.5fen.com/">五分旅游网</a></li>
          <li><a target="_blank" href="http://www.lvmama.com/">驴妈妈旅游网</a></li>
          <li><a target="_blank" href="http://www.tujia.com">途家网</a></li>
          <li><a target="_blank" href="http://www.ctcnn.com/">劲旅网</a></li>
          <li> <a target="_blank" href="http://www.tianqi.com">天气网</a></li>
          <li><a target="_blank" href="http://www.utourworld.com">众信旅游</a></li>
          <li><a target="_blank" href="http://www.zglxw.com">北京中国国旅</a></li>
          <li><a target="_blank" href="http://www.edushi.com">e都市</a></li>
          <li><a target="_blank" href="http://www.9tour.cn">九游网</a></li>
          <li><a target="_blank" href="http://www.goldenholiday.com">黄金假日旅游网</a></li>
          <li><a target="_blank" href="http://www.qianzhengdaiban.com">中国签证资讯网</a></li>
          <li> <a target="_blank" href="http://www.177dj.net">北京旅行社</a></li>
          <li><a target="_blank" href="http://www.yododo.com">游多多自助游</a></li>
          <li><a target="_blank" href="http://www.huoche.net">火车网</a></li>
          <li><a target="_blank" href="http://www.51you.com">新华旅行网</a></li>
          <li><a target="_blank" href="http://www.qyer.com/">穷游网</a></li>
          <li><a target="_blank" href="http://www.byecity.com">佰程旅行网</a></li>
          <li><a target="_blank" href="http://www.gwyou.com">昆明旅行社</a></li>
          <li><a target="_blank" href="http://www.ctcnn.com">旅游新媒体</a></li>
          <li><a target="_blank" title="中国经济网" href="http://travel.ce.cn">中国经济网</a></li>
          <li><a target="_blank" title="春秋航空" href="http://www.china-sss.com">春秋航空</a></li>
          <li><a target="_blank" href="http://www.19lou.com">19楼</a></li>
          <li><a target="_blank" href="http://www.becod.com">百酷特色住宿</a></li>
          <li> <a target="_blank" href="http://www.sipjinjilake.com">金鸡湖景区</a></li>
          <li><a target="_blank" href="http://www.zhuna.cn">酒店预订</a></li>
          <li><a target="_blank" href="http://www.youbian.com">邮编生活网</a></li>
          <li><a target="_blank" href="http://www.sunnychina.com">阳光旅行网</a></li>
          <li> <a target="_blank" href="http://jipiao.ly.com">同程机票查询</a></li>
          <li> <a target="_blank" href="http://www.keyunzhan.com">客运站</a></li>
          <li><a target="_blank" href="http://dujia.qunar.com">旅游度假</a></li>
          <li> <a target="_blank" href="http://www.city8.com">中国地图</a></li>
          <li> <a target="_blank" href="http://www.fotosay.com">图说天下</a></li>
          <li> <a target="_blank" href="http://www.uzai.com">悠哉旅游网</a></li>
          <li> <a target="_blank" href="http://www.mafengwo.cn">蚂蜂窝旅游攻略</a></li>
          <li> <a target="_blank" href="http://www.lvye.cn">绿野户外网</a></li>
          <li><a target="_blank" href="http://www.ethainan.com">三亚旅游</a></li>
          <li> <a target="_blank" href="http://www.kuxun.cn">酷讯旅游网</a></li>
          <li><a target="_blank" href="http://www.beibaotu.com">背包兔旅游行程</a></li>
          <li><a target="_blank" href="http://www.tuniu.com">途牛旅游网</a></li>
          <li><a target="_blank" href="http://www.springtour.com">春秋旅游</a></li>
          <li><a target="_blank" href="http://www.cngaosu.com/">中国高速网</a></li>
          <li> <a target="_blank" href="http://www.guolv.com/">北京神舟国旅</a></li>
          <li> <a target="_blank" href="http://www.xialv.com/">侠侣周边游</a></li>
          <li> <a target="_blank" href="http://you.ctrip.com/">携程旅游社区</a></li>
          <li> <a target="_blank" href="http://www.autonavi.com/">高德地图</a></li>
          <li> <a target="_blank" href="http://www.liebiao.com/">分类信息</a></li>
          <li><a target="_blank" href="http://www.ly.com/">打折机票</a></li>
        </ul>
      </div>
      <!-- 热门自由行div.hotziyou结束 -->
      
      <div class="hotziyou"> <span style="letter-spacing: 3.2px;">精选旅游：</span>
        <ul>
          <li><a href="http://www.iecity.com" target="_blank">生活网</a></li>
          <li><a href="http://www.niuwan.com" target="_blank">牛丸旅游网</a></li>
          <li><a href="http://www.zyoulun.com" target="_blank">最邮轮旅行网</a></li>
          <li><a href="http://t.cn/RPgfiZX" target="_blank">搜悦旅游圈</a></li>
          <li><a href="http://www.springtour.com" target="_blank">春秋旅游网</a></li>
          <li><a href="http://www.mdvoo.com" target="_blank">马尔代夫DIY旅游</a></li>
          <li><a href="http://www.wefax.cn" target="_blank">钱端</a></li>
          <li><a href="http://www.vipwifi.com" target="_blank">环球漫游 </a></li>
          <li><a href="http://travel.qunar.com/p-cs299979-chongqing" target="_blank">去哪儿重庆旅游攻略</a></li>
          <li><a href="http://www.hwtrip.com/" target="_blank">华为爱旅</a></li>
        </ul>
      </div>
      <div class="hotziyou"> <span style="letter-spacing:3.2px;">合作伙伴：</span>
        <ul>
          <div class="list"><img src="__PUBLIC__/style/image/qiongyou.jpg">穷游网</div>
          <div class="list"><img src="__PUBLIC__/style/image/qunaer.jpg">去哪儿</div>
          <div class="list"><img src="__PUBLIC__/style/image/mafeng.jpg">蚂蜂窝</div>
          <div class="list"><img src="__PUBLIC__/style/image/jingdong.jpg">京东</div>
          <div class="list"><img src="__PUBLIC__/style/image/360.jpg">
            <p>360特价</p>
          </div>
          <div class="list"><img src="__PUBLIC__/style/image/baidu.jpg">百度旅游</div>
          <div class="list"><img src="__PUBLIC__/style/image/ali.jpg">阿里旅行</div>
          <div class="list"><img src="__PUBLIC__/style/image/weipin.jpg">唯品会</div>
          <div class="list"><img src="__PUBLIC__/style/image/dazong.jpg">大众点评网</div>
          <div class="list"><img src="__PUBLIC__/style/image/zailushang.jpg">在路上</div>
          <div class="list"><img src="__PUBLIC__/style/image/mianbao.jpg">面包旅行</div>
          <div class="list"><img src="__PUBLIC__/style/image/shuning.jpg">苏宁旅游</div>
        </ul>
      </div>
      <div class="hotziyou"> <span style="letter-spacing:3.2px;">合作银行：</span>
        <ul>
          <div class="list"><img src="__PUBLIC__/style/image/zhaoshang.jpg">招商银行</div>
          <div class="list"><img src="__PUBLIC__/style/image/pingan.jpg">平安银行</div>
          <div class="list"><img src="__PUBLIC__/style/image/zhongxin.jpg">中信银行</div>
          <div class="list"><img src="__PUBLIC__/style/image/zhongguo.jpg">中国银行</div>
        </ul>
      </div>
    </div>

    <!-- div.footer-link结束 --> 
    <div class="Contact">
            <div><img src="__PUBLIC__/style/image/logo_button.jpg" alt=""></div>
            <div>
            服务联系<br>
            企业电话: 0851-4567-18<br>
          1591631526<br>
            服务时间：9:00-23:30
            </div>
        </div><!--  div.Contact结束 -->
        <div class="About">
            <p>
            	<a href="us/us.html" target="_blank">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            	<a href="us/lianxi.html" target="_blank">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            	<a href="us/zhifu.html" target="_blank">支付方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            	<a href="us/falv.html" target="_blank">法律声明</a></p>
            <div class="fl">
                <p>版权所有：Copyright © 影琪集团　　粤ICP备15019244号</p>
                <p>公司地址：中国贵州贵阳市福田区南园路70号</p>
            </div>
        </div> <!-- div..About结束 -->
  </div>
  <!--  div.content结束 --> 
</div>
<!-- div.footer结束 -->

</body>

</html>

<script src="__PUBLIC__/style/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/style/js/foot.js"></script>


















